TOKEN_SECRET = ""
CLOUD_NAME = ""
API_KEY = ""
API_SECRET = ""
URL_MongoDB = ""
Front_End = ""
outlook_email = ""
outlook_pass = ""
# URL = ""
SENDGRID_USERNAME = ""
SENDGRID_PASSWORD = ""
API_Environment_Variable = ""

CLIENT_ID = "";
CLIENT_SECRET = "";
REDIRECT_URL = "";
REFRESH_TOKEN = "";
